{% extends "tasks/base.html" %}
{% block title %}Tareas | Home{% endblock title %}

{% block body %}
  <h1>Tareas</h1>
    <div>
      <a href="{% url 'tasks:task-done'%}"><button>Done</button></a>
      <a href="{% url 'tasks:task-pendig'%}"><button>Pending</button></a>
      <a href="{% url 'tasks:add-task'%}"><button>ADD</button></a>
    </div>

    {% comment %} {% for task in tasks %} {% endcomment %}
    <div>
      <p>{{ task.name }}</p>
      <button>Cambiar</button>
      <button>Editar</button>
      <button>Eliminar</button>
      {% comment %} <div class="post-date">{{ task.description }}</div> {% endcomment %}
    </div>
 

    {% comment %} <p><a href="{% url 'tasks:task_detail' task.slug %}">[Read more]</a></p> {% endcomment %}

 
 
{% endblock body %}