
.item {
    border-style: solid;
    width: 200px;
    height: 200px;
    position: relative;
    left: 50%;
    background-color: darkgray;
    
}

.cover {
    width: 100%;
    height: 100%;
    background-size: cover; /* Hace que la imagen cubra completamente el div */
    background-position: center; /* Centra la imagen en el div */
}

.cv1 {
    background-image: url("../assets/images/cover1.jpg");
}

.cv2 {
    background-image: url("../assets/images/cover2.jpg");
}

.cv3 {
    background-image: url("../assets/images/cover3.jpg");
}

.vinyl{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    position: relative;
    align-items: center;
    position: absolute;
    z-index: -1;
    transform: translateX(200px) rotate(360deg);

    
    
}

.detail{
    width: 66%;
    height: 66%;
    background-color: rgb(203, 4, 243);
    border-radius: 50%;
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
    /* z-index: 5; */

    
}
.label{
    width: 33%;
    height: 33%;
    background-color: rgb(252, 3, 210);
    border-radius: 50%;
    position: absolute;
    margin-top: 33%;
    margin-left: 33%;
    /* z-index: 6; */

}
.hole{
    width: 33%;
    height: 33%;
    background-color: rgb(248, 244, 244);
    border-radius: 50%;
    position: absolute;
    margin-top: 33%;
    margin-left: 33%;
    /* z-index: 7; */


}

.flex{
    display: flex;

}

.item-1{
    z-index: 1;
    

}

.item-2{
    z-index: 2;

}

.item-3{
    z-index: 3;

}
