* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #091428 ;
}


/* Diseño del titulo */

header{
    width: 100%;
    height: 30%;
    /* margin-left: 30%; */
    border: 10px solid #C89B3C;
    background-color: #010A13;
    border-radius: 10px;
    box-sizing: border-box;


}

.container {
    width: 80%;
    max-width: 1200px;
    /* text-align: center; */
}

header img {
    width: 400px;
    
    /* margin-bottom: 20px; */
    color: #D4AF37;
    margin-left: 39.5%;
    margin-top: 1%;
    /* border-radius: 20px; */
}


/* Diseño de las cartas de los champ */
.card {
    border: 10px solid  #C89B3C ;
    background-color: #F0E6D2;
    color:  #32281E;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    text-align: center;
    width: 250px;
    height: 325px;
    /* position: absolute; */
  
    /* font-size: 20px; */
    
}

.card h2{
    font-size: 30px;
    font-weight: bold; /* Negrita */
    font-style: italic; /* Cursiva */
    margin-bottom: 10%;
       
}

.card p:first-of-type{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    
    

}

.card p:nth-of-type(2) {
    margin-top: 15px;
    font-size: 20px;

    /* Estilos para la segunda etiqueta p */
}


/* .card p{
    font-size: 20px;
    

} */

.card:hover{
    background-color:#79D6FF ;
}


/* Formato de las columnas*/

#card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centrar las tarjetas horizontalmente */
    margin-top: 20px; /* Espacio entre el grid y otros elementos */
    margin-left: 36%;
}


/* Diseño de los botones */


.buttons{
    width: 100%;
    height: 100%;
    /* background-color: #79D6FF; */
    margin-left: 29.2%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    
}

.buttons button{
    margin-left: 1.8%;
    height: 50px;
    width: 100px;
    color: aliceblue;
    background-color: #005A82;
}

.buttons button:hover{
    background-color:  #0397AB ;


}








































/* .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #D4AF37;
    color: #0A0E18;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

*/
/* 
button:hover {
    background-color: #b2922d;
}  */
