
{% extends "./base.html"%}
{% block title %}Nanobits | Home{% endblock title %}

{% block body %}

  <div class="titulo">
    <h1>Tareas</h1>
    <p>we already have more than {{num_tasks}} task{{num_tasks|pluralize}}</p>

  </div>
  
  {% comment %} <p>contiue......</p>
  <p>Mi primera plantilla</p> {% endcomment %}

 
 
  {% for task in tasks%}
    <div class="tarea" >
      <h2>Titulo: {{task.title}}</h2>
        <p>
          Description: {{task.description}}
        </p>
        {% if task.done%}
            <p>Tarea realizada</p>
        {% else %}
          <p>Tarea no realizada</p>
        {% endif %}
        <p>
          Creado: {{task.time_finish}}
        </p>
        <p>Mas detalles...<a href="{% url 'tasks:task_detail' task.slug %}">Tasks more....</a></p>
        {% comment %} {{task.content|truncatewords:20}}  {% endcomment %}
      

    </div>
    
  {% endfor %}
  {% endblock body %}