{% comment %} {% load %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% comment %} <link rel="stylesheet" href="{% static 'blog/custom.css' %}"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tareas</h1>
    {% comment %} <p>contiue......</p>
    <p>Mi primera plantilla</p> {% endcomment %}
    <p>we already have more than {{num_tasks}} task{{num_tasks|pluralize}}</p>
    {% for task in tasks%}
      <h2>{{task.title}}</h2>
      <div class="task-date">
        <p>
          {{task.description}}
        </p>
        {% if task.done%}
            <p>Tarea realizada</p>
        {% else %}
          <p>Tarea no realizada</p>
        {% endif %}
        <p>
          {{task.time_finish}}
        </p>
        <p>Mas detalles...<a href="{% url 'tasks:task_detail' task.id %}">Tasks more....</a></p>
        {% comment %} {{task.content|truncatewords:20}}  {% endcomment %}
      </div>
    {% endfor %}
  </body>
</html>